.App {
  text-align: center;
}

.header {
  position: fixed;
  height: 90px;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  transition: 3.s ease-in;
  overflow: hidden;
  
  
}

.header .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1140px;
  margin: auto;
  height: 100%;
  padding: 0 1rem;
}

.header .navbar img {
  width: 200px;
  height: auto;
}

.header .nav-menu {
  display: flex;
}

.header .nav-item {
  padding: 1rem;
  font-weight: 500;
}

.header .nav-item a:hover {
  padding-bottom: 12px;
  border-bottom: 3px solid var(--btncolor);

}

.burger {
  display: none;
}


@media screen and (max-width:940px) {
  .header {
      max-width: 100%;
      background-color: rgba(0, 0, 0, .9);
  }

  .header .navbar {
      max-width: 100%;
  }

  .burger {
      display: block;
  }

  .nav-menu {
      position: fixed;
      left: -100%;
      top: 5rem;
      flex-direction: column;
      background-color: rgba(0, 0, 0, .9);
      width: 100%;
      z-index: 999;
      text-align: center;
      transition: .3s;
  }

  .nav-menu.active {
      left: 0;

  }

  .nav-item {
      margin: 1.5rem 0;

  }

}

/* ----------------------------------------------------------------- */

.hero {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero .card {
  width: 90%;
  max-width: 440px;
  color: #ffff;
  text-align: center;
  padding: 50px 35px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(255, 255, 255, 0.2);
  ;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
}



.card h2 {
  font-size: 30px;
  font-weight: 700;
  margin-top: 20px;
  text-transform: uppercase;
  color: black;
}




.hero .card .progress-value {
  /* animation: load 3s normal forwards; */
  box-shadow: 0 10px 40px -10px #000000;
  border-radius: 100px;
  background: #000000;
  height: 35px;
  width: 367px;
  padding: 1rem;
  margin: 3rem auto;
  z-index: 1;
  
  min-width: 50px;
  padding: 18px;
  /* position: absolute; */
  
}
.hero .card .progress-value2 {
  animation: load2 3s normal forwards;
  box-shadow: 0 10px 40px -10px #ffffff;
  border-radius: 100px;
  background: #ff0000;
  height: 30px;
  margin: -15px;
  width: 0;
  left: auto;
  margin-bottom: 2px;
  max-width: 360px;
  /* min-width: 90px; */
  position: absolute;
}

@keyframes load2 {
  0% {
      width: 0;
  }

  100% {
      width: 14%;
  }
}

/* @keyframes load {
  0% {
      width: 0;
  }

  100% {
      width: 100%;
  }
} */

@media screen and (max-width:1000px) {
  .card h2{
      font-size: 1.6rem;
  }

  @keyframes load2 {
      0% {
          width: 0;
      }
  
      100% {
          width: 20%;
      }
  }
}
@media screen and (max-width:844px) {
  .card h2{
      font-size: 1.6rem;
  }

  @keyframes load2 {
      0% {
          width: 0;
      }
  
      100% {
          width: 45%;
      }
  }
}
@media screen and (max-width:400px) {
  .card h2{
      font-size: 1.6rem;
  }

  @keyframes load2 {
      0% {
          width: 0;
      }
  
      100% {
          width: 45%;
      }
  }

  .hero .card .progress-value{
      max-width: 290px;
  }
  .hero .card .progress-value2{
      max-width: 290px;
  }

  
}